extends flexLayout.pug

block header
	include layoutIn.pug

block content
	.card
		.card-block
			p <b>Name:</b>		!{user.name}
			p <b>Email:</b>		!{user.email}
	.card
		.card-block
			p <b>Classes and Subjects:</b>
			ul
				each value, index in user.classesAndSubjects
					li !{value}
				//a(href='javascript:;' onclick='addClassesAndSubjects();') Add
				a#classesAndSubjects(href='javascript:;') Add
	.card
		.card-block
			a.mr-2.ml-3(href="/"+session.uid+"/password/change", role="button") Change Password

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script.
		var uid = "#{session.uid}";
	script(src="../../public/profileEditScript.js")