extends flexLayout.pug

block header
	include layoutIn.pug

block content
	.container
		.row.justify-content-center
			.col-6
				.card.text-center
					.card-block
						h4.card-title Profile Edit
						form(method="post" action="/"+session.uid+"/profile/edit/save")
							.form-group
								label.font-weight-bold Subjects:
								input.form-control(type="text" name="subjects" id="subjects" value=user.subjects)
								a(href='javascript:;' onclick='addSubject();') Add
							.form-group
								input.btn.btn-primary.mr-5(type="submit" value="Save")
								input.btn.btn-danger.ml-5(type="submit" value="Cancel")

block scripts
	script(src="../../public/profileEditScript.js")